<%- include('layout.ejs'); %>
<div class="container">

    <div class="row justify-content-center">
        <div class="col">
            <h1>BookletZERO API</h1>
            <p>
                BookletZERO API description here...
            </p>
        </div>
    </div>

    

    <div class="row justify-content-center">
        <div class="col">
            <h2>API Documentation</h1>
                <p>To access API Documentation</p>
            <a href="/doc">
                <img src="/imgs/api.png" class="icon" >
            </a>
        </div>
    </div>

    
</body>
</html>